In [23]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [24]:
data = pd.read_csv('C:/Users/ajcltm/PycharmProjects/BackTesting/data/stock_price_data_KOSPI_fixed.csv', index_col=0)

c:\users\ajcltm\desktop\python\pythonproject\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [25]:
indexed_data = data.set_index('date')

In [26]:
indexed_data.sample(5)

,symbol,Adj Close,Close,High,Low,Open,Volume
date,,,,,,,
2006-08-21,090080.KS,1575.258911,1851.099976,1941.479980,1851.099976,1913.430054,324259.0
2014-05-29,181710.KS,74269.796875,74269.796875,75042.398438,73497.203125,73980.101562,298710.0
2015-11-27,008350.KS,1128.991455,1235.000000,1280.000000,1235.000000,1260.000000,1118410.0
2010-08-04,014915.KS,1989.755859,2060.000000,2130.000000,1660.000000,1890.000000,385638.0
2005-11-03,001725.KS,9599.307617,20800.000000,21750.000000,20450.000000,21750.000000,4100.0

In [27]:
indexed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3042818 entries, 2005-01-04 to 2021-06-28
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   symbol     object
 1   Adj Close  float64
 2   Close      float64
 3   High       float64
 4   Low        float64
 5   Open       float64
 6   Volume     float64
dtypes: float64(6), object(1)
memory usage: 185.7+ MB

In [28]:
indexed_data.index = pd.to_datetime(data.index)

In [29]:
indexed_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3042818 entries, 1970-01-01 00:00:00 to 1970-01-01 00:00:00.000000003
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   symbol     object
 1   Adj Close  float64
 2   Close      float64
 3   High       float64
 4   Low        float64
 5   Open       float64
 6   Volume     float64
dtypes: float64(6), object(1)
memory usage: 185.7+ MB

In [30]:
indexed_data.shape

(3042818, 7)

In [40]:
data['date'] = pd.to_datetime(data['date'])

In [41]:
def current_data(data, symbols, factors) :
    
    current_time = dt.datetime(2021,7,7)

    querydata = data[data['date'] == current_time]
    # 현재시간에 해당하는 데이터만 필터

    if isinstance(symbols, list) :
        if isinstance(factors, list) :
        # symbols와 factors 모두 리스트 형태로 넣어준 것이라면
            columns = ['symbol']+factors
            # 조회하고자하는 데이터 컬럼 정의

        else :
        # symbols는 리스트, factors는 스칼라 문자형태로 넣어준 것이라면

            columns= ['symbol', factors]
            # 조회하고자하는 데이터 컬럼 정의

        querydata = querydata[querydata['symbol'].isin(symbols)][columns]
        # 해당 조건들에 해당하는 데이터프레임 반환

    else :
        if isinstance(factors, list) :
        # symbols는 스칼라 문자형태, factors는 리스트 형태로 넣어준 것이라면

            querydata = querydata[querydata['symbol'] == symbols][factors]
            # 해당 조건들에 해당하는 데이터프레임 반환

        else :
        # symbols와 factors 모두 스칼라 문자형태로 넣어준 것이라면
            querydata = querydata[querydata['symbol']==symbols][factors].values[0]
            # 해당 조건들에 해당하는 스칼라 값을 반환

    return querydata

In [42]:
symbols='090080.KS'
factors='Adj Close'
current_data(data, symbols, factors)

1835.0

In [44]:
symbols=['090080.KS', '008350.KS']
factors=['Adj Close', 'High']
current_data(data, symbols, factors)

            symbol  Adj Close    High
3032209  008350.KS     3890.0  4065.0
3032558  090080.KS     1835.0  1880.0

In [68]:
current_time = dt.datetime(2021,7,7)
symbols=['090080.KS', '008350.KS']
factors=['Adj Close', 'High']
column = factors
if isinstance(symbols, list):
    column = ['symbol']+factors
data.loc[(data['date']==current_time) & (data['symbol'].isin(symbols)), column]

            symbol  Adj Close    High
3032209  008350.KS     3890.0  4065.0
3032558  090080.KS     1835.0  1880.0

In [83]:
def current_data_ver2(data, symbols, factors) :
    current_time = dt.datetime(2021,7,7)
    column = factors
    if isinstance(symbols, list):
        column = ['symbol']+factors
        return data.loc[(data['date']==current_time) & (data['symbol'].isin(symbols)), column]
    else:
        symbols = [symbols]
        return data.loc[(data['date']==current_time) & (data['symbol'].isin(symbols)), column].iat[0]

In [86]:
symbols=['090080.KS', '008350.KS']
factors=['Adj Close', 'High']

current_data_ver2(data, symbols, factors)

            symbol  Adj Close    High
3032209  008350.KS     3890.0  4065.0
3032558  090080.KS     1835.0  1880.0