In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('C:/Users/ajcltm/PycharmProjects/BackTesting/data/stock_price_data_KOSPI_fixed.csv', index_col=0)

c:\users\ajcltm\desktop\python\pythonproject\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
indexed_data = data.set_index('date')

In [4]:
indexed_data.sample(5)

,symbol,Adj Close,Close,High,Low,Open,Volume
date,,,,,,,
2012-04-26,004000.KS,4.555720e+04,50600.0,52100.0,50400.0,51500.0,66490.0
2019-08-23,001460.KS,2.290000e+05,229000.0,231000.0,226500.0,227500.0,674.0
2019-06-05,272550.KS,1.725000e+04,17250.0,17400.0,17150.0,17400.0,30210.0
2009-12-15,011810.KS,7.248566e+06,7249310.0,7444650.0,7227610.0,7444650.0,899.0
2016-03-25,042700.KS,5.040503e+03,5800.0,6480.0,5120.0,5140.0,3306172.0

In [5]:
indexed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3042818 entries, 2005-01-04 to 2021-06-28
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   symbol     object
 1   Adj Close  float64
 2   Close      float64
 3   High       float64
 4   Low        float64
 5   Open       float64
 6   Volume     float64
dtypes: float64(6), object(1)
memory usage: 185.7+ MB

In [6]:
indexed_data.index = pd.to_datetime(data.index)

In [7]:
indexed_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3042818 entries, 1970-01-01 00:00:00 to 1970-01-01 00:00:00.000000003
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   symbol     object
 1   Adj Close  float64
 2   Close      float64
 3   High       float64
 4   Low        float64
 5   Open       float64
 6   Volume     float64
dtypes: float64(6), object(1)
memory usage: 185.7+ MB

In [8]:
indexed_data.shape

(3042818, 7)

In [9]:
data['date'] = pd.to_datetime(data['date'])

In [10]:
def current_data(data, symbols, factors) :
    
    current_time = dt.datetime(2021,7,7)

    querydata = data[data['date'] == current_time]
    # 현재시간에 해당하는 데이터만 필터

    if isinstance(symbols, list) :
        if isinstance(factors, list) :
        # symbols와 factors 모두 리스트 형태로 넣어준 것이라면
            columns = ['symbol']+factors
            # 조회하고자하는 데이터 컬럼 정의

        else :
        # symbols는 리스트, factors는 스칼라 문자형태로 넣어준 것이라면

            columns= ['symbol', factors]
            # 조회하고자하는 데이터 컬럼 정의

        querydata = querydata[querydata['symbol'].isin(symbols)][columns]
        # 해당 조건들에 해당하는 데이터프레임 반환

    else :
        if isinstance(factors, list) :
        # symbols는 스칼라 문자형태, factors는 리스트 형태로 넣어준 것이라면

            querydata = querydata[querydata['symbol'] == symbols][factors]
            # 해당 조건들에 해당하는 데이터프레임 반환

        else :
        # symbols와 factors 모두 스칼라 문자형태로 넣어준 것이라면
            querydata = querydata[querydata['symbol']==symbols][factors].values[0]
            # 해당 조건들에 해당하는 스칼라 값을 반환

    return querydata

In [11]:
symbols='090080.KS'
factors='Adj Close'
current_data(data, symbols, factors)

1835.0

In [12]:
symbols=['090080.KS', '008350.KS']
factors=['Adj Close', 'High']
current_data(data, symbols, factors)

            symbol  Adj Close    High
3032209  008350.KS     3890.0  4065.0
3032558  090080.KS     1835.0  1880.0

In [53]:
def current_data_ver2(data, symbols, factors) :
    current_time = dt.datetime(2021,7,7)
    
    search_symbols = np.array([symbols]).reshape(-1).tolist()
    
    if isinstance(symbols, list):
        column = ['symbol']+np.array([factors]).reshape(-1).tolist()
        return data.loc[(data['date']==current_time) & (data['symbol'].isin(search_symbols)), column]
    else:
        column = factors
        if isinstance(factors, list):
            return data.loc[(data['date']==current_time) & (data['symbol'].isin(search_symbols)), column]
        else :
            return data.loc[(data['date']==current_time) & (data['symbol'].isin(search_symbols)), column].iat[0]

In [60]:
symbols=['090080.KS']
factors=['Adj Close']

current_data_ver2(data, symbols, factors)

            symbol  Adj Close
3032558  090080.KS     1835.0